/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&family=Cabin+Sketch:wght@400;700&family=Cabin:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* Brand CSS Variables */
:root {
    --font-family-heading: "Cabin", sans-serif;
    --font-family-body: "Source Sans 3", sans-serif;
    --font-family-marketing: "Poppins", sans-serif;
    --font-family-sketch: "Cabin Sketch", sans-serif;
    --font-family-condensed: "Cabin Condensed", sans-serif;
    --color-heading: #002f5c;
    --color-body-text: #0057a6;
    --color-primary: #0258A6;
    --color-secondary: #2872B4;
    --color-surface: #F8F9FA;
    --color-border: #AFB1B9;
}

/* Apply Fonts and Colors */
body {
    font-family: var(--font-family-body);
    color: var(--color-body-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-heading);
    color: var(--color-heading);
}

.heading-text {
    font-family: var(--font-family-heading);
}

.marketing-text {
    font-family: var(--font-family-marketing);
}

.sketch-text {
    font-family: var(--font-family-sketch);
}

.condensed-text {
    font-family: var(--font-family-condensed);
}